<div class="container centered">
    <div class="row">
        <div class="col-lg-4 mx-2">
            <div class="card">
                <div class="card-header">
                    <h3>SignUp</h3>
                </div>
                <div class="card card-body">
                    <form action="/signup" id="signup-form" method="post" role="form" data-toggle="validator">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-at"></i></div>
                                </div>
                                <input type="text" class="form-control" name="username" id="username"
                                    aria-describedby="helpId" data-minlength="5" placeholder="username"
                                    data-error="Minimum 5 characters" required autofocus>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-lock"></i></div>
                                </div>
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="password" data-error="Minimum 6 digits" data-minlength="6" required>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-redo-alt"></i></div>
                                </div>
                                <input type="password" class="form-control" name="password2" id="password2"
                                    placeholder="confirm password" data-match="#password"
                                    data-error="You have to confirm your password"
                                    data-match-error="Whoops, these don't match" required>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">SignUp</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>