<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {{#if user}}
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/links">Links</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/links/add">Add Links</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">SignUp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{/if}}
            {{#unless user}}
            <li class="nav-item">
                <a class="nav-link" href="/signin">SignIn</a>
            </li>
            {{/unless}}
        </ul>
    </div>
</nav>